body {
  margin: 0;
  background: #0f1220;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
  position: relative;
}

#root::before {
  content: "★";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 500px;
  color: #ffd700;

  opacity: 0.03;

  pointer-events: none;
  z-index: 0;
}